@import url("https://fonts.googleapis.com/css?family=Kurale");

.main {
  width: 100%;
  margin:0 auto;
}
.header {
  
  background: url(img/header_backgroung.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  padding: 05%;
}

.header ul {
  color: wheat;
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}
.header ul li {
  padding-left: 20px;
}

.header h1 {
  text-transform: uppercase;
  background: #d0d0d040;
  text-align: center;
  color: wheat;
  font-family: "Kurale", serif;
  margin: 15%;
  padding: 20px;
}
/* AddDash */
.addDish {
  padding: 5%;
  background: #d0d0d040;
  text-align: center;
}
.addDish h1{
  font-family: "Kurale", serif;
  
}

.addDish .form {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  box-sizing: border-box;
 
}
.addDish .form input[type="text"] {
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  width: 30%;
}

.addDish .form button[type="submit"] {
  width: 20%;
  background-color: #c1c1c182;
  color: #0a0a0a;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form button[type="submit"]:hover {
  font-size: 15px;
}
/* orderMenuPrice */
.orderMenuPrice{
  padding: 5%;
  display: flex;
  justify-content: space-between;
  background: #000000d6;
  
}

.orderMenuPrice  h1{
 color: tan;
}
.orderMenuPrice  h3{
  color: white;
}
.Menu ,.orders ,.totalPrice{
  flex:1;
  padding:0 20px
}
.Menu div ,.orders  div {
  margin:25px 0;
  display: flex;
  flex-direction: column;
  text-align: center;

}

.Menu image{
  width: 50%;
}
.Menu img{
  width: 100%;
}

.totalPrice .order{
  border-bottom: 1px solid white;
  margin-bottom: 20px;
}